@inherits LayoutComponentBase

<BlazorBootstrapLayout StickyHeader="true">
    <HeaderSection>
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <h2>Secret Garden Solver</h2>
                </div>
                
            </div>
        </div>
       
        <ThemeSwitcher Class="ps-3 ps-lg-2"/>
    </HeaderSection>

    <ContentSection>
        @Body
    </ContentSection>

</BlazorBootstrapLayout>

@code {
    
}